@{
    ViewData["Title"] = "Sobre nós";
}
<h1>@ViewData["Title"]</h1>

<p>No cenário atual, a habilidade de gerenciar de forma eficiente as finanças pessoais é de extrema importância para garantir estabilidade financeira e qualidade de vida. 
    No entanto, muitas pessoas enfrentam desafios na organização de seus gastos semanais, o que pode levar a dificuldades financeiras e estresse desnecessário.</br></br>
    Este projeto busca atender pessoas que procuram organizar melhor os seus gastos, e manter um registro sobre os mesmos, obtendo assim um controle maior da sua vida financeira. 
    Quanto mais cedo uma pessoa aprende sobre educação financeira e se preocupa em investir melhor o seu dinheiro, mais retornos positivos ela recebe, pensando nisso o sistema a ser desenvolvido foi pensado para pessoas maiores de 13 anos
    que possuem algum tipo de renda e costumam fazer movimentações monetárias com frequência.</p>
