@model ContaFacil2.Models.Reserva

@{
    ViewData["Title"] = "Create";
}

<h1>Calcular Reserva de Emergência</h1>

<h4>Informe os dados solicitados para calcular sua Reserva de Emergência</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="salario" class="control-label"></label>
                <input asp-for="salario" class="form-control" />
                <span asp-validation-for="salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalEssenciais" class="control-label"></label>
                <input asp-for="totalEssenciais" class="form-control" />
                <span asp-validation-for="totalEssenciais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalNaoEssenciais" class="control-label"></label>
                <input asp-for="totalNaoEssenciais" class="form-control" />
                <span asp-validation-for="totalNaoEssenciais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="investimento" class="control-label"></label>
                <input asp-for="investimento" class="form-control" />
                <span asp-validation-for="investimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-info">Voltar</a>
                <a asp-action="Index" class="btn btn-success">Calcular Reserva </a>
                <input type="submit" value="Salvar" class="btn btn-success" />
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
