@{
    ViewData["Title"] = "Home Page";
}
<body>
<main class="div">
<div id="container-a">
    <form>
    <h1>Controle total das suas finanças com facilidade e eficiência!</h1>
    </form>
</div>
<p>
</p>
    <div id="container-b">
        <form>
                <h2>Transforme o caos financeiro em tranquilidade. Bem-vindo ao Conta Fácil.</h2>
        </form>
    </div>
    <div id="container-c">
        <form>
                <h3>Seu guia confiável para uma vida financeira sem preocupações.</h3>
        </form>
    </div>
    <div id="container-d">
        <form>
                <h4>Comece a organizar suas finanças agora. Cadastre-se!</h4>
        </form>
    </div>
        
</main>
    
</body>