@{
    ViewData["Title"] = "Sobre nós";
}
<style>
    h1{
        color: white;
        font-family: 'DM Serif Display', serif;
        font-size: 70px;
    }
    h2 {
        background-color: rgba(0,0,0,0.7);
        width: 100%;
        height: 550px;
        padding: 20px;
        border-radius: 20px;
        display: inline-flex;
        font-size:30px;
        color: white;
    }

    hr {
        color: aqua;
    }
</style>
<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Playfair+Display:ital,wght@0,600;1,500&display=swap" rel="stylesheet">
    <div>
        <h1>Sobre nós</h1>
        <hr />
            <h2>
                No cenário atual, a habilidade de gerenciar de forma eficiente as finanças pessoais é de extrema importância para garantir estabilidade financeira e qualidade de vida.
                No entanto, muitas pessoas enfrentam desafios na organização de seus gastos semanais, o que pode levar a dificuldades financeiras e estresse desnecessário.</br></br>
                Este projeto busca atender pessoas que procuram organizar melhor os seus gastos, e manter um registro sobre os mesmos, obtendo assim um controle maior da sua vida financeira.
                Quanto mais cedo uma pessoa aprende sobre educação financeira e se preocupa em investir melhor o seu dinheiro, mais retornos positivos ela recebe, pensando nisso o sistema a ser desenvolvido foi pensado para pessoas maiores de 13 anos
                que possuem algum tipo de renda e costumam fazer movimentações monetárias com frequência.
            </h2>
      
    </div>
</body>