
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("https://images.pexels.com/photos/129492/pexels-photo-129492.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover; /* Faz com que a imagem cubra toda a div */
    background-position: center; /* Centraliza a imagem na div */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
}

.navbar-brand {
    color: blue;
    font-size: 30px;
}

.navbar {
    padding: 15px;
    font-size: 20px;
}

/* Cadastro */
.table {
    background-color: white;
}

/*Tela Home*/


#container-a {
    background-color: white;
    max-width: 500px;
    height: 450px;
    padding: 30px;
    border-radius: 20px; 
}

#container-b {
    background-color: rgba(0,0,0,0.7);
    padding: 50px;
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 10px;
    width: 350px;
    height: 300px;
    display: inline-flex;
}

#container-c {
    background-color: rgba(0,0,0,0.7);
    padding: 50px;
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 10px;
    width: 350px;
    height: 300px;
    display: inline-flex;
}

#container-d {
    background-color: rgba(0,0,0,0.7);
    padding: 50px;
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 10px;
    width: 350px;
    height: 300px;
    display: inline-flex;
}

form h1{
    font-size: 60px;
    
}

form h2 {
    font-size: 30px;
    color:white;
}

form h3 {
    font-size: 30px;
    color: white;
}

form h4 {
    font-size: 30px;
    color: white;
}


p {
    margin: 100px;
}


